.ticket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
  margin: 1rem;
}

.ticket__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 1rem;
  padding: 0 1rem;
}

.ticket__header__box1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: -3rem;
  width: 50%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.ticket__header__box2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 50%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-left: auto;
}

.ticket__header__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-size: cover;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 1.5rem;
  width: 1.5rem;
}

.ticket__header__h1, .ticket__header__h2, .ticket__header__h3, .ticket__header__h4, .ticket__header__h5, .ticket__header__h6, .ticket__header__h7, .ticket__header__h8 {
  padding: 0 1rem 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  max-width: 16rem;
  text-overflow: ellipsis;
  width: auto;
  min-width: 0;
  overflow: hidden;
  white-space: nowrap;
}

.ticket__header__h1 {
  margin-left: 0;
}

.ticket__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 1rem 0;
  min-height: 10rem;
}

.ticket__content__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ticket__content__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 1rem;
  border-radius: 1.5rem;
}

.ticket__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 1rem;
}

.ticket__footer__box1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 80%;
}

.ticket__footer__box2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-left: auto;
}

.ticket__footer__f1, .ticket__footer__f2, .ticket__footer__f3, .ticket__footer__f4, .ticket__footer__f5, .ticket__footer__f6, .ticket__footer__f7, .ticket__footer__f8, .ticket__footer__f9, .ticket__footer__f10, .ticket__footer__f11, .ticket__footer__f12, .ticket__footer__f13, .ticket__footer__f14 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 0 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  max-width: 8rem;
  text-overflow: ellipsis;
  width: auto;
  min-width: 0;
  overflow: hidden;
  white-space: nowrap;
}
/*# sourceMappingURL=ticket-container.component.css.map */