
@import '../../../assets/styles/config';

.header{
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    
    &__h1{
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 4rem;
        
        &__box1{
            display: flex; 
            flex-direction: row;

            &__open,&__onhold,&__pending,&__awaiting,
            &__awaitingapprove,&__more {
                display: flex;
                flex-direction: row;
                padding: 0 1rem;
                font-weight: 500;
                color: #7A89A0;
                font-size: medium;
                font-family: Roboto;
                font-size: fontSz('large');
            }
            &__open{
                color:textCol('counter');
            }
            &__more:hover{
                color:textCol('counter');
            }    
        }

        &__box2{
            @include flexRow(center);
            margin-left:auto;

            &__icon1,&__icon2,&__icon3,
            &__icon4,&__icon5 {
                display: flex;
                padding: 0 0 0 1rem;
                border: 1 px solid red;
                font-size: fontSz('large');
            }
        }
    }
    &__h2{
        display: flex;
        margin: 1rem 0 1rem 1rem;
        
        &__chip1{
            display: flex;
            font-size: fontSz('small');
            &__text2{
                display: flex;
                color: textCol("counter");
                
            }
            &__text3{
                display: flex;
                color: textCol("urgent");
            }
            &__text4{
                display: flex;
                color: textCol("high");
            }
            &__text5{
                display: flex;
                color: textCol("medium");
            }
        }
    }
}
.mat-form-field-underline {
    display: none;
}