$text-color:(
    "counter":#4B80E3,
    "urgent":crimson,
    "high": red,
    "medium": orange,
    );

.header{
    display: flex;
    flex-direction: column;
    // width: 100%;
    background-color: white;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    // margin: 4rem 0 0 0;
    &__h1{
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 4rem;
        
        &__box1{
            display: flex; 
            flex-direction: row;
            &__open,&__onhold,&__pending,&__awaiting,&__awaitingapprove,&__more{
                display: flex;
                flex-direction: row;
                padding: 0 1rem;
                font-weight: 500;
                color: darkslategrey;
                font-size: medium;
                font-family: inherit;
            }
            &__open{
                color:map-get($text-color,'counter');
            }
            &__more:hover{
                color:map-get($text-color,'counter');
            }    
        }
        &__box2{
            display: flex;
            flex-direction: row;
            // justify-content: space-evenly;
            margin-left:auto;
            &__icon1,&__icon2,&__icon3,&__icon4,&__icon5 {
                display: flex;
                padding: 0 0 0 1rem;
                border: 1 px solid red;
            }
        }
    }
    &__h2{
        display: flex;
        margin: 1rem 0 1rem 1rem;
        &__chip1{
            display: flex;
            &__text2{
                display: flex;
                color: map-get($text-color,"counter");
            }
            &__text3{
                display: flex;
                color: map-get($text-color,"urgent");
            }
            &__text4{
                display: flex;
                color: map-get($text-color,"high");
            }
            &__text5{
                display: flex;
                color: map-get($text-color,"medium");
            }
        }
    }
}
.mat-form-field-underline {
    display: none;
}