<!-- <mat-toolbar> -->
    <div class="header">
        <div class="header__h1">
            <div class="header__h1__back-icon">
                <button mat-icon-button aria-label=" vertical three dot icon">
                    <mat-icon>arrow_back</mat-icon>
                </button>
            </div>
            <div class="header__h1__searchbar">
                <mat-form-field class="header__h1__searchbar__mat-form-field" >
                    <input matInput placeholder="Search for Ticke-id, Author Name, Ticket Content or URL">

                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
            </div>
            <div class="header__h1__icon1">
                <button mat-icon-button aria-label=" vertical three dot icon">
                    <mat-icon>local_activity</mat-icon>
                </button>
                
            </div>
            <div class="header__h1__icon2">
                <button mat-icon-button aria-label=" vertical three dot icon">
                    <mat-icon>filter_alt</mat-icon>
                </button>
            </div>
            <div class="header__h1__icon3">
                <button mat-icon-button aria-label=" vertical three dot icon">
                    <mat-icon>menu_open</mat-icon>
                </button>
            </div>
            <div class="header__h1__icon4">
                <button mat-icon-button aria-label=" vertical three dot icon">
                    <mat-icon>more_vert</mat-icon>
                </button>
            </div>
        </div>
        <mat-divider></mat-divider>
        <div class="header__h2">
            <mat-chip-list >
                <mat-chip>
                    <span class="header__h2__chip1__text1"><strong> Categories: </strong>Brand Mention </span>
                    <span class="header__h2__chip1__text2">&nbsp;<i>+3</i> </span>
                    <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
                <mat-chip>
                    <span class="header__h2__chip1__text1"><strong> Channel: </strong>Facebook </span>
                    <span class="header__h2__chip1__text2">&nbsp;<i>+1</i> </span>
                    <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
                <mat-chip>
                    <span class="header__h2__chip1__text1"><strong> Priority: </strong></span>
                    <span class="header__h2__chip1__text3"> &nbsp;Urgent</span>,&nbsp;
                    <span class="header__h2__chip1__text4">High</span>,&nbsp;
                    <span class="header__h2__chip1__text5">Medium</span>
                    <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
                <mat-chip>
                    <span class="header__h2__chip1__text1"><strong> Keywords(6)</strong> </span>
                    <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
            </mat-chip-list>
        </div>
    </div>
<!-- </mat-toolbar> -->