
<button mat-menu-item>
    <mat-icon>account_circle</mat-icon>
    <span>Assign To</span>
</button>
<button mat-menu-item>
    <mat-icon>attach_file</mat-icon>
    <span>Attach Ticket</span>
</button>
<button mat-menu-item>
    <mat-icon>escalator_warning</mat-icon>
    <span>Escalate</span>
</button>
<button mat-menu-item>
    <mat-icon>translate</mat-icon>
    <span>Translate</span>
</button>
<button mat-menu-item>
    <mat-icon>campaign</mat-icon>
    <span>Mark Influencer</span>
</button>
<button mat-menu-item>
    <mat-icon>email</mat-icon>
    <span>Send email</span>
</button>

<mat-divider></mat-divider>

<button mat-menu-item>
    <mat-slide-toggle>Enable Marker Checker</mat-slide-toggle>
</button>

<button mat-menu-item>
    <mat-icon>folder_open</mat-icon>
    <span>Open In New Tab</span><br />
    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(<mat-icon>visibility</mat-icon>+Ctrl+<mat-icon>mouse</mat-icon> )</span>
</button>


