/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


body {
    font-family: Roboto, Arial, sans-serif;
    padding: 0;
    margin: 0;
}

$primary-color:#2d3e5c;
$text-color:#6487F6;
$hover-color:#185EDF;

 
.sidenav {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 16rem;
    overflow-x: hidden;
    background: $primary-color;
    border-radius: 0 1rem 1rem 0;
    

    &__header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid black;
        padding: 0 1.5rem;

        &__logo{
            width: 10rem;
            height: 3rem;
            margin-left: 1.5rem;
        }
    }

    &__menus{
        &__list{
          width: 15rem;
          // border: 1px solid red;
          margin-left: 0.5rem;
        }
    }
    &__menu-item{
        width: 15rem;
        background: $primary-color;
        color: $text-color;

        &__logo{
            // border: 1px solid yellow;
            width: 2rem;
            padding: 0 1rem 0 0;
        }
        &__name{
          display: inline-block;
          text-align: left;
          // border: 1px solid chartreuse;
          width: 8rem;
          
        }
        &__pin{
          // border: 1px solid greenyellow;
          width: 2rem;
          padding:0 0.5rem 0  1rem;
        }
    }
    &__menu-item:hover{
      color: white;
      background: $hover-color;
    }

    
    &__compose{
        display: flex;
        margin: 8rem 0 0 0;
        background-color: $primary-color;
        height: 2rem;
        width: 100%;
        justify-content: center;

        &__button{
            color: $text-color;
            border-color:1rem solid $text-color;
            width: 12rem;
        }
    }
}

#sidenav.menu-close {
    width: 4rem;
    border-radius: 0;
}

#sidenav.menu-open {
    width: 16rem;
    
}
.avatar {
    background-image: url('http://i.pravatar.cc/300');
    background-size: cover;  
}

#sidenav .mat-list-item-content {
    padding: 0;
    margin: 0 8rem 0 0;
}

#sidenav .mat-drawer-inner-container{
    overflow: hidden;
}

#sidenav .mat-card{
    color: white;
    background: $primary-color;
}
